[Desktop Entry]
Name=CurseForge
Comment=CurseForge Addons
GenericName=CurseForge
Exec=/opt/appimages/curseforge-latest.appimage %
Type=Application
StartupNotify=false
StartupWMClass=CurseForge
MimeType=x-scheme-handler/cfauth;
