[Desktop Entry]
Name=WebCord (Wayland)
Comment=WebCord Client (Wayland)
GenericName=WebCord
Exec=/opt/appimages/webcord-latest.appimage --ozone-platform=wayland --ozone-platform-hint=auto --enable-features=UseOzonePlatform,WaylandWindowDecorations,WebRTCPipeWireCapturer 
Type=Application
StartupNotify=false
StartupWMClass=WebCord
